extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introSection 
        h1 ⚔️Welcome to Zoro's Dojo⚔️ 
        div.small ↠Eat Fight Sleep Repeat↞
        div#profile 
            img(src="/static/profile.jpeg", alt="profile")


    section#missionSection 
        h2 Our Misson
        div.card 
            h3  To support the weaklings
            hr 
            div.card-box
                div.card-img
                    img(src="/static/1.jpeg", alt="itoryu")
                div.card-content 
                    p 'Give up on your dreams and die or Break your limits.'
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, labore!

        div.card 
            h3  To become Greatest Swordsman
            hr
            div.card-box
                div.card-img
                    img(src="/static/2.jpeg", alt="nitoryu")
                div.card-content 
                    p 'This is where you can work on defeating your old weak self.'
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, labore!
        div.card 
            h3  Do things in our on way
            hr
            div.card-box
                div.card-img
                    img(src="/static/3.jpeg", alt="santoryu")
                div.card-content 
                    p 'Here you can develop all kind of sword-styles.' 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, labore!

    section#sponsorSection 
        h2 Anyone can Participate 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam doloremque sapiente, magnam, iure similique atque officia eligendi deleniti hic neque eos adipisci magni sunt libero eum doloribus nesciunt repellat unde temporibus omnis dignissimos expedita optio, aliquid quae! Eius, aliquam iste? Animi alias iure ut recusandae in consequatur blanditiis, totam dolorem. Molestiae quaerat officia aspernatur iure nihil amet modi dicta? Provident magnam iure dolorum ipsa dicta adipisci officia, quaerat ab consequuntur voluptate accusantium voluptatum sint cupiditate, impedit quo nobis at soluta exercitationem? Sint nisi quam, reprehenderit, consectetur qui et at culpa ut quaerat, praesentium cumque. Hic illo, vitae earum eius molestias ad itaque est voluptatibus debitis id, delectus dicta temporibus voluptate facere consequatur assumenda. Delectus eaque autem ab, earum facilis animi excepturi hic vel illo fugit harum id ipsa, quam soluta quia reiciendis velit dolore minima. Deleniti fugit doloremque architecto illo, officiis cupiditate et eum numquam facilis culpa ipsam officia magni.